{% extends "medical/base.html" %}

{% block title %} - Login{% endblock %}

{% block content %}
    <div class="container">
        {#        <div class="row align-items-start">#}
        <div class="col">
            <h3 class="mt-2">Login</h3>
            <hr class="mt-0 mb-8">
            <form method="post" class="form-group">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-success">Login</button>
            </form>
        </div>
    </div>
    <div class="col">
        <hr class="mt-0 mb-8">
        <div class="card ">
            <div class="card-content ">
                <span class="card-title"> Information</span>
                <div class="col">
                    <hr class="mt-0 mb-8">
                    <p>This demo is based on a fictional healthcare scenario, where doctors, nurses and family access
                        health
                        records of patients.</p>
                    <p>You can access the system as one of the following users (the password is always 'password' if not
                        is an admin):
                    <ul>
                        <ul>
                        <li><b>Alina</b>: This is the head nurse</li>
                        <li><b>Peter</b>: Is one of many nurses</li>
                        <li><b>Sandra</b>: Does an internship as a nurse</li>
                        <li><b>Julia</b>: Is one of many doctors</li>
                        <li><b>Thomas</b>: Is one of many Doctors</li>
                        <li><b>Lenny</b>: Is a Patient</li>
                        <li><b>Karl</b>: Is a Patient</li>
                        <li><b>Kim</b>: Is the daughter of Thomas</li>

                    </ul>
                    </ul>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
