{% extends 'medical/base.html' %}

{% block content %}
    <script>
        window.onload = function() {
            const socket = new WebSocket('ws://localhost:8000/ws/vital_status');
            const numberList = document.getElementById('number-list');

            socket.onopen = function(event) {
                console.log('WebSocket opened');
                socket.send('Hello, server!');
            };

            socket.onmessage = function(event) {
                const data = JSON.parse(event.data);
                const time = data.time;
                const status = data.status;
                if (data.error) {
                    alert(data.error)
                }
                var statusfield = document.getElementById("status");
                var timefield = document.getElementById("time");
                if (status === "okay"){
                    statusfield.style.color = "green";
                    statusfield.style="font-size: 1REM; color: green";
                }
                else {
                    statusfield.style.color = "red";
                    statusfield.style="font-size: 3REM; color: red";
                }

                statusfield.innerText = status;
                timefield.innerText = time;

            };
        };
    </script>
    <h3 class="mt-2">Vital status : {{ patient.name }}</h3>
    <hr class="mt-0 mb-4">
    <!-- Content Row -->
    <div class="row">
        <!-- Content Column -->
        <div class="col-lg-12 mb-4">
            <!-- DataTales Example -->

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ patient.name }}</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            {% if patient.id %}
                                <tr>
                                    <th>Patiend ID:</th>
                                    <td>{{ patient.id }}</td>
                                </tr>
                            {% endif %}
                            {% if patient.icd11_code %}
                                <tr>
                                    <th>ICD11Code:</th>
                                    <td>{{ patient.icd11_code }}</td>
                                </tr>
                            {% endif %}
                            {% if patient.diagnosis_text %}
                                <tr>
                                    <th>Diagnosis:</th>
                                    <td>{{ patient.diagnosis_text }}</td>
                                </tr>
                            {% endif %}
                            {% if patient.attending_doctor %}
                                <tr>
                                    <th>Attending Doctor:</th>
                                    <td>{{ patient.attending_doctor }}</td>
                                </tr>
                            {% endif %}
                            {% if patient.room_number %}
                                <tr>
                                    <th>Room:</th>
                                    <td>{{ patient.room_number }}</td>
                                </tr>
                            {% endif %}
                                <tr>
                                    <th>Current time:</th>
                                    <td id="time">unknown</td>
                                </tr>
                                <tr>
                                    <th>Vital Status:</th>
                                    <td id="status">unknown</td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}